@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The William Zoo connects communities with animals, inspiring action to save wildlife.</p>
</div>
